/***********scrollbar*************/
/* width */
#ItemCategory ul::-webkit-scrollbar {
    width: 20px;
    height: 6px;
  }
  
  /* Track */
 #ItemCategory ul ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
 #ItemCategory ul::-webkit-scrollbar-thumb {
    background: #dadada; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
 #ItemCategory  ul::-webkit-scrollbar-thumb:hover {
    background: #858796; 
  }
  /***************end scrollbar*********/


#ItemCategory ul{
    height: 40px !important;
    white-space:nowrap;
    padding-left: 0px !important;
   /* overflow-x: hidden;*/
    overflow-y: hidden;
    margin-bottom: 0px !important;
}
#ItemCategory ul li{
    display: inline;
    list-style-type: none;
    padding: 0 1% 0.5% 1%;
}
#itemList ul{
    margin: 0;
    padding: 0;
}
#itemList ul .veg{
    border-left: 5px solid #4CAF50;
}
#itemList ul .NonVeg{
    border-left: 5px solid #FF5722;
}

#itemList ul li{
    width: 31%;
    list-style-type: none;
    float: left;
   
   padding: 1%;
    margin: 0.9%;
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -9px 3px 5px 0px rgba(158, 158, 158, 0.42);
}
#itemList ul li:hover{
    background: #4CAF50;
    color: #fff;
}
.listSelected{
   border-bottom: 2px solid #4CAF50;
}
.cis{
    font-size: 22px;
}
#itemList{
    height: 500px;
    overflow-y: scroll;
}
/*********Login **************/
#loginForm .col-md-4{
    margin-top: 10%;
    box-shadow: 10px 8px 5px 0px rgba(158, 158, 158, 0.42);
}

#loginForm .col-md-4 h3{
    text-align:center;
}


/**********************/
/*****bootsrap***/
.btn{
    border-radius: 0px !important;
}
.btn-success{
    background-color: #4caf50;
    border-color: #4caf50;
}
.table{
    box-shadow: 8px -3px 5px 0px rgba(158, 158, 158, 0.42);
}
.table thead{
    color: #fff;
    background: #4caf50;
}
.table tbody .itemDetail{
   
    border-bottom: 6px solid #dadada;
   
}
.table tbody td{
  
}
.tblitem tbody td:first-child{
    font-weight: 600;
    border-left: 5px solid #4CAF50;
}
.table tbody td:last-child{
    text-align: right;
}